.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  /* flex-direction: column; */
}

.monttyHall {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 200px;
  width: 200px
}

.portaPresente {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white; 
  height: 200px;
  width: 200px;
  margin-top: 5px;

}

.qtdPorta {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: white; 
  height: 200px; 
  width: 200px; 

}

.portas {
  display: flex;
  justify-content: space-between;
}

.btns {
  text-align: center;
  align-items: center;

  font-size: 50px;
  font-weight: bold;
  border: none;
  background-color: rgb(182, 180, 175); 
  height: 50px;
  width: 50px;
  margin-right: 10px;
}